.grid-section {
  display: flex;
  justify-content: center;
}

.grid-row {
  display: flex;
}

.grid-square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.grid-square.active {
  background-color: blue;
}