.grid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 400px;
  height: 400px;
}

.grid-row {
  display: flex;
}

.grid-square {
  border: 1px solid black;
}

.grid-square.active {
  background-color: blue;
}

button#reset-grid {
  font-size: 16px;
  border: 1px solid black;
  padding: 4px 8px;
  cursor: pointer;
  margin: 8px 0;
}

